<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pets">Pets</a></li>
      <li><a href="/dogwalkers">Dog Walkers</a></li>
      <li><a href="/clients">Clients</a></li>
    </ul>
  </nav>
</header>
