<!DOCTYPE html>
<html>

<head>
    <title>Pet Walking Service</title>
</head>

<body>
    <h1>Welcome to the Pet Walking Service</h1>
    <a href="/pets">View Pets</a>
    <a href="/dogwalkers">View Dog Walkers</a>
    <a href="/clients">View Clients</a>
</body>

</html>